body {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

h2 {
    color: white;
    font-weight: 900;
    border: 4px solid white;
    justify-content: center;
    display: flex;
    height: 10vh;
    align-items: center;
    font-size: 3rem;
    border-radius: 1%;
}

#alphabet {
    display: flex;
    border: 2px solid white;
    height: 20vh;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;

}

.letter {
    border: 1px solid white;
    display: flex;
    height: 20%;
    width: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: powderblue;
}

label {
    display: flex;
    justify-content: center;
}
#start-restart {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}